.header {
  left: 0;
  right: 0;
  width: 100%;
  z-index: 222;

  &:not(.header--fixed) {
    position: absolute;
  }

  &--fixed {
    background: rgba(var(--main-header-color),.75);
    backdrop-filter: blur(5px);
    height: 72px;
    position: fixed;
    top: 0;
  }

  &__info {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: $max-width;
    padding: 1rem 1.5rem;
  }

  &__icon {
    align-items: center;
    display: flex;
    overflow: hidden;

    @media screen and (min-width: 801px) {
      width: 73px;
    }
  }

  &__logo {
    align-self: center;

    @media screen and (min-width: 801px) {
      height: 32px;
      width: 32px;
    }

    @media screen and (max-width: 800px) {
      height: 24px;
      width: 24px;
    }
  }

  &__actions,
  &__menu,
  &__switcher {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
  }

  &__menu,
  &__switcher {
    width: auto;
  }

  &__menu {

  }

  &__actions {
    width: 73px;
  }

  &__switcher {
    background-color: var(--switcher-bg-color);
    border: 2px solid transparent;
    border-radius: 50px;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    min-width: 66px;
  }

  &__toggle {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 16px;
    text-decoration: none;
    width: 20px;
    z-index: 10;
  }

  &__toggle::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__toggle:nth-child(1) {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48cGF0aCBkPSJNMzguMjUgMTBDMjIuODU2IDE2LjE3NyAxMiAzMS4wNjYgMTIgNDguNDY5IDEyIDcxLjQwNSAzMC44NCA5MCA1NC4wOTQgOTAgNjcuOTk3IDkwIDgwLjMzMyA4My4zNDIgODggNzMuMDk0YTQyLjU5MyA0Mi41OTMgMCAwIDEtMTUuODc1IDMuMDYyYy0yMy4yNTMgMC00Mi4wOTQtMTguNTk1LTQyLjA5NC00MS41MzEgMC05LjIyMiAzLjA2My0xNy43MzMgOC4yMTktMjQuNjI1em0xNS4zNDQgMTEuNzgxbC0yLjc4MSA1LjI4MS02LjIyLjg0NCA0LjUgNC4wOTQtMS4wNjIgNS43ODEgNS41NjMtMi43MTkgNS41NjIgMi43Mkw1OC4wOTQgMzJsNC41LTQuMDk0LTYuMjE5LS44NDQtMi43ODEtNS4yOHpNNjcuNSA0NS40MDZMNjQuMDk0IDUyIDU2LjUgNTMuMDYybDUuNSA1LjEyNi0xLjMxMiA3LjIxOEw2Ny41IDYybDYuNzgxIDMuNDA2TDczIDU4LjE4OGw1LjUtNS4xMjZMNzAuOTA2IDUyIDY3LjUgNDUuNDA2eiIgIGZpbGw9IiNDNTY1NTIiLz48L3N2Zz4=");
    pointer-events: var(--no-click-inactive);
  }

  &__toggle:nth-child(1):not(:hover) {
    opacity: var(--switcher-opacity-inactive);
  }

  &__toggle:nth-child(2) {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgZmlsbD0iI0M1NjU1MiIgY3g9IjUwIiBjeT0iNTAiIHI9IjE2Ii8+PHBhdGggZD0iTTUwIDI4VjE4TTUwIDgyVjcyTTcyIDUwaDEwTTE4IDUwaDEwTTY1LjU1NiAzNC40NDRsNy4wNzEtNy4wNzFNMjcuMzczIDcyLjYyN2w3LjA3LTcuMDdNNjUuNTU2IDY1LjU1Nmw3LjA3MSA3LjA3MU0yNy4zNzMgMjcuMzczbDcuMDcgNy4wNyIgc3Ryb2tlPSIjQzU2NTUyIiBzdHJva2Utd2lkdGg9IjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvZz48L3N2Zz4=");
    pointer-events: var(--no-click-active);
  }

  &__toggle:nth-child(2):not(:hover) {
    opacity: var(--switcher-opacity-active);
  }

  &__button {
    height: 24px;
    width: 24px;
    background: $white;
    border-radius: 50%;
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 4px;
    transform: var(--switcher-position);
    transition: transform .25s ease;
  }

  &__link {
    font-weight: bold;
    padding: 0 .45rem;
    position: relative;
    text-shadow: var(--header-text-shadow);
    transition: opacity .25s linear;

    @media screen and (max-width: 410px) {
      font-size: .75rem;
    }
  }

  &__link:not(.is-active):hover {
    opacity: .85;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link.is-active {
    font-weight: bold;
    pointer-events: none;
    text-decoration: none;
  }
}
