.project {
  max-width: $max-width;
  padding: 4.5rem 1.5rem 4rem;

  &,
  &__block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__block {
    @media screen and (min-width: 801px) {
      width: 700px;
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  &__block--header {
    margin-top: 2rem;
  }

  &__cover,
  &__frame,
  &__block,
  &__image {
    @media screen and (min-width: 801px) {
      margin-bottom: 65px;
    }
    @media screen and (max-width: 800px) {
      margin-bottom: 30px;
    }
  }

  &__cover {
    overflow: hidden;
    max-height: 982px;

    img {
      border: 1px solid var(--light-bg-color);
      height: 100%;
      width: 100%;
    }
  }

  &__cover,
  &__cover img,
  &__frame,
  &__image {
    border-radius: 25px;
  }

  &__frame {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 3rem 1.5rem;
    width: 100%;

    img:not(.has-no-shadow) {
      box-shadow: 0 0 5px rgba($black,.1);
    }

    & + & {
      @media screen and (min-width: 801px) {
        margin-top: -1.5rem;
      }
      @media screen and (max-width: 800px) {
        margin-top: -.25rem;
      }
    }
  }

  &__frame--more {
    background-color: var(--light-bg-color);
    padding-bottom: 1rem;
  }

  &__headline {
    margin-bottom: 5px;
  }

  &__subheading {
    font-size: 24px;
  }

  &__text {
    font-size: 18px;
  }

  &__legend {
    margin-top: 2rem;
  }

  &__legend:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &__list {
    margin: 0;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  &__nav:hover .work__item:not(:hover) {
    opacity: .25;
  }

  &__heading {
    padding: 0 0 1.5rem;
    width: 100%;

    @media (min-width: 1001px) {
      text-align: center;
    }
  }
}
