.resume {
  padding-bottom: 4rem;
  padding-top: 4.5rem;

  a:not(:hover) {
    text-decoration: underline;
  }

  &__header {
    background-color: $mine;
    display: flex;
    flex-wrap: wrap;
    min-height: 180px;
  }

  // &__header::before {
  //   background: $salmon;
  //   content: '';
  //   height: 308px;
  //   left: 1.5rem;
  //   position: absolute;
  //   width: calc(100% - 3rem);
  //   z-index: -1;
  // }

  &__avatar {
    max-width: 422px;
  }

  &__image {
    border-radius: 50px 0 0 0;
    display: block;
    filter: saturate(1.5);
    margin: 1.5rem 1.5rem -5.5rem;
    overflow: hidden;
  }

  &__headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
  }

  &__headline * {
    color: $white;
  }

  &__headline,
  &__content {
    margin: auto;
    width: $max-width;
    max-width: 100%;
  }

  &__heading {
    margin-bottom: .5rem;

    @media screen and (min-width: 601px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 2.25rem;
    }
  }

  &__subheading {
    font-weight: normal;
    font-size: 1.25rem;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;

    @media screen and (max-width: 816px) {
      padding-top: 2.5rem;
    }
  }

  &__column:first-child {
    @media screen and (min-width: 1028px) {
      margin-right: 2.5rem;
      max-width: 383px;
    }
  }

  &__column:last-child {
    @media screen and (min-width: 1028px) {
      max-width: calc(100% - 466px);
      min-width: 50%;
    }
  }

  &__block + .resume__block {
    margin-top: 2rem;
  }

  &__block p:not(:last-of-type) {
    margin-bottom: .25rem;
  }

  &__block:last-of-type {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.5rem;
  }
}
