.project__block
  p
    | Can’t find what you’re looking for? Click the button below and start over.
  br
  a.work__button(href="/" target="_self" rel="noopener" aria-label="Home Button")
    | Back to Index
