.project__frame.project__frame--more
  h2.project__heading Other Projects
  nav.project__nav
    if current.source != 'hs'
      li.work__item.work__item--projects
        a.work__card(href="/hs" target="_self" rel="noopener" aria-label="Enhancing employee management")
          .work__details.work__details--projects
            span.work__headline Enhancing employee management
            small.work__legend Help organizations leverage their members' information.
          .work__preview.work__preview--projects
            picture.work__image
              source(srcset="../../assets/image-hs.webp", type="image/webp")
              source(srcset="../../assets/image-hs.png", type="image/png")
              img(src="../../assets/image-hs.png", alt="Screenshot of HS Members", width="758", height="506")

    if current.source != 'eventene'
      li.work__item.work__item--projects
        a.work__card(href="/eventene" target="_self" rel="noopener" aria-label="Scaling design at Eventene")
          .work__details.work__details--projects
            span.work__headline Scaling design at Eventene
            small.work__legend Develop a common language to align the products.
          .work__preview.work__preview--projects
            picture.work__image
              source(srcset="../../assets/image-unicorn.webp", type="image/webp")
              source(srcset="../../assets/image-unicorn.png", type="image/png")
              img(src="../../assets/image-unicorn.png", alt="Screenshot of Unicorn Design System", width="758", height="506")

    if current.source != 'camelias'
      li.work__item.work__item--projects
        a.work__card(href="/camelias" target="_self" rel="noopener" aria-label="Connecting residents at Camelias")
          .work__details.work__details--projects
            span.work__headline Connecting residents at Camelias
            small.work__legend Provide a digital solution for service providers.
          .work__preview.work__preview--projects
            picture.work__image
              source(srcset="../../assets/image-camelias.webp", type="image/webp")
              source(srcset="../../assets/image-camelias.png", type="image/png")
              img(src="../../assets/image-camelias.png", alt="Camelias Dashboard", width="758", height="506")
