main.project(role="main")
  .project__block.project__block--header
    h2.project__headline Enhancing employee management
    h5 Dec 2021 ~ Feb 2022
  .project__cover
    img.has-no-shadow(src="../assets/image-hs.png", alt="HS Members Project Cover")
  .project__block
    h3.project__subheading Context
    p.project__text
      a(href="https://hubstaff.com" target="_blank" rel="noopener" aria-label="Hubstaff Home Page") Hubstaff
      | #{''} is a remote company that created a workforce management software suite that offers proof of work, time-tracking software, and payroll management, along with a remote talent finder and project management software.
    p.project__text Members are a valuable part of their product, although it’s missing fields to give more details about employees and how to manage them.
  .project__block
    h3.project__subheading Discovery
    p.project__text The CSD Matrix method was applied to get started, which can split three categories into Certainties, Suppositions, and Doubts to come up with relevant things to ask.
  .project__frame
    img(src="../assets/hs/project-hs-context.png", alt="CSD Matrix")
    legend.project__legend CSD Matrix
  .project__block
    p.project__text Based on those hypotheses, a few things to explore would be:
    ul.project__list
      li
        p.project__text How do they manage their employees' info currently?
      li
        p.project__text What are the pain points of their current tool/service?
      li
        p.project__text How often do they use the Members area of Hubstaff?
      li
        p.project__text Is it okay to start doing it one by one?
  .project__block
    p.project__text Talking to the users, it was possible to identify the following points respectively:
    ul.project__list
      li
        p.project__text They use spreadsheets, PDFs, or other web services to manage employees.
      li
        p.project__text It’s expensive, and they need to handle multiple sources.
      li
        p.project__text Twice a week, they use the Hubstaff members area.
      li
        p.project__text It’s OK to do it individually, but it would be nice if they could import multiple files.
  .project__block
    h3.project__subheading Opportunity
    p.project__text Assuming they are spreadsheet and PDF users and have confirmed the frequent usage of the Members area, a good call would be to improve that section so it’s possible to be more flexible and become a single source of truth.
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-members.png", alt="Current Members Area")
    legend.project__legend Current Members Area
  .project__block
    h3.project__subheading Benchmarks
    p.project__text Doing a quick market research, we can notice two big competitors in that segment: Monday and Qulture Rocks. So here are some impressions:
    p.project__text
      strong Monday.com
    ul.project__list
      li
        p.project__text Admins can update members' info 👍
      li
        p.project__text Avatar support 👍
      li
        p.project__text Several personal fields 👍
      li
        p.project__text UX is not so intuitive 👎
      li
        p.project__text No attachments 👎
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-benchmark-1.png", alt="Screenshot of Monday.com")
    legend.project__legend Screenshot of Monday.com
  .project__block
    p.project__text
      strong Qulture.rocks
    p.project__text It was impossible to test Qulture Rocks due to the delay on their side in sending out the demo. Although interviewing an active user and asking some questions, a few points could be noted:
    ul.project__list
      li
        p.project__text Ability to plan 1-1s 👍
      li
        p.project__text Good UX 👍
      li
        p.project__text No sign up 👎
      li
        p.project__text No payment management 👎
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-benchmark-2.png", alt="Screenshot of Qulture.rocks")
    legend.project__legend Screenshot of Qulture.rocks
  .project__block
    h3.project__subheading Goals
    p.project__text Based on the collected data, the objective is to build a profile area so the organization owners can edit the personal information of their employees and reuse it across the product.
    p.project__text Besides, it will be possible to centralize data only on Hubstaff, so there is no need to switch to other tools.
  .project__block
    h3.project__subheading Prioritization
    p.project__text To understand the dos and don’ts and the relationship between the requests, a variation of the affinity diagram was applied, and they were grouped into four categories: System-related, Individual-related, Organization-related, and related.
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-affinity-diagram.png", alt="Affinity Diagram")
    legend.project__legend Priorities Diagram
  .project__block
    p.project__text Analyzing the results, the features were classified based on the matches and number of requests.
    p.project__text That was also an excellent guide to prioritize the scope and make the decision to break the roadmap by the following:
    ul.project__list
      li
        p.project__text
          strong 1st iteration: #{''}
          span Employee personal info.
      li
        p.project__text
          strong 2nd iteration: #{''}
          span Calendar to book meetings.
      li
        p.project__text
          strong 3rd iteration: #{''}
          span Employee documents and files.
  .project__block
    h3.project__subheading Ideation
    p.project__text The proposal is basically to provide a new branch under the Members area.
    p.project__text After logging in and reaching the Dashboard, users will keep the same flow by accessing the People > Members menu in the sidebar.
    p.project__text They will get two new clickable elements there: the members’ name and the dropdown action item called “edit profile.”
    p.project__text Under this component, viewing and editing member details, accessing their documents, and checking their calendar availability will be possible.
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-flow.png", alt="New User Flow")
    legend.project__legend New User Flow
  .project__block
    p.project__text The UI proposed is an extended modal or off-canvas menu view, so there’s enough room to edit all personal fields like nicknames, birthdays, skills, and others without losing context and reusing existing components from the design system.
    p.project__text A tab switcher was also included to open the attached documents, such as contracts, criminal checks, and courses, or access the calendar to book meetings and 1-1s.
  .project__frame
    img.has-no-shadow(src="../assets/hs/project-hs-modal.png", alt="New Members View")
    legend.project__legend New Members View
  .project__block
    h3.project__subheading Design Decisions
    p.project__text Given the circumstances, the solution proposed is based on data collected, incremented, and tested.
    p.project__text The main objective was to transform Hubstaff into an all-in-one solution, so switching to other services and tools is unnecessary to accomplish the goal.
  .project__block
    h3.project__subheading Next Steps
    p.project__text The hypothesis around the whole idea is that the users want to save time and reduce friction.
    p.project__text After releasing the feature and having the ability to analyze quantitative and qualitative data to understand user behavior, here are some possible improvements:
    ul.project__list
      li
        p.project__text OCR documents so it can save time when filling existing fields in the docs.
      li
        p.project__text Batch import documents from several users.
      li
        p.project__text Import data from other sites, like the competitors, since Hubstaff has integrations
      li
        p.project__text Export action so they can update existing files before uploading to Hubstaff and avoid conflicted data.
  != partial("_projects")
  != partial("_back")
!= partial("templates/footer/_footer")
