main.main(role="main")
  != partial("templates/_hero")
  != partial("templates/work/_work")
  != partial("templates/about/_about")
  != partial("templates/talks/_talks")
!= partial("templates/footer/_footer")
