section#about.about
  .about__info
    .about__photo
      picture.about__image
        source(srcset="../assets/image-story.webp", type="image/webp")
        source(srcset="../assets/image-story.png", type="image/png")
        img.about__picture(src="../assets/image-story.png", alt="About Picture", width="1735", height="1735", loading="lazy")
    .about__desc
      h2.about__headline
        span.about__text.about__text--one Think.
        span.about__text.about__text--two Test.
        span.about__text.about__text--three Repeat.
      p Creativity has been part of my life since I was a little kid, drawing dogs and spaceships on paper.
      p Shifting to the web, I could learn the concept of iteration and how things could constantly be improved by getting feedback.
      p Software is the medium through which it's possible to make the digital world more human.
      p As a multidisciplinary designer and systems thinker, I aim to speak machine, and translate that to the best user experience, where communication is the key to making our lives easier.
