header.header.header--fixed
  .header__info
    .header__icon
      a.header__logo.logo(href="/" aria-label="logo")
        svg.logo__image.logo__image--light(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M0 4.78945C0 4.38251 0.329895 4.05261 0.736842 4.05261H5.89474C6.30168 4.05261 6.63158 4.38251 6.63158 4.78945V37.2105C6.63158 37.6175 6.30168 37.9473 5.89474 37.9473H0.736842C0.329895 37.9473 0 37.6175 0 37.2105V4.78945Z' fill='#555555')
          path(d='M8.84211 4.78945C8.84211 4.38251 9.172 4.05261 9.57895 4.05261H14.7368C15.1438 4.05261 15.4737 4.38251 15.4737 4.78945V29.1052C15.4737 29.5122 15.1438 29.8421 14.7368 29.8421H9.57895C9.172 29.8421 8.84211 29.5122 8.84211 29.1052V4.78945Z' fill='#666666')
          path(d='M17.6842 4.78945C17.6842 4.38251 18.0141 4.05261 18.4211 4.05261H23.5789C23.9859 4.05261 24.3158 4.38251 24.3158 4.78945V37.2105C24.3158 37.6175 23.9859 37.9473 23.5789 37.9473H18.4211C18.0141 37.9473 17.6842 37.6175 17.6842 37.2105V4.78945Z' fill='#777777')
          path(d='M26.5263 4.78945C26.5263 4.38251 26.8562 4.05261 27.2632 4.05261H32.4211C32.828 4.05261 33.1579 4.38251 33.1579 4.78945V37.2105C33.1579 37.6175 32.828 37.9473 32.4211 37.9473H27.2632C26.8562 37.9473 26.5263 37.6175 26.5263 37.2105V4.78945Z' fill='#888888')
          path(d='M35.3684 4.78945C35.3684 4.38251 35.6983 4.05261 36.1053 4.05261H41.2632C41.6701 4.05261 42 4.38251 42 4.78945V12.1579C42 12.5648 41.6701 12.8947 41.2632 12.8947H36.1053C35.6983 12.8947 35.3684 12.5648 35.3684 12.1579V4.78945Z' fill='#999999')
          path(d='M35.3684 29.8421C35.3684 29.4351 35.6983 29.1052 36.1053 29.1052H41.2632C41.6701 29.1052 42 29.4351 42 29.8421V37.2105C42 37.6175 41.6701 37.9473 41.2632 37.9473H36.1053C35.6983 37.9473 35.3684 37.6175 35.3684 37.2105V29.8421Z' fill='#999999')

        svg.logo__image.logo__image--dark(viewBox='0 0 42 42', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M0 4.78945C0 4.38251 0.329895 4.05261 0.736842 4.05261H5.89474C6.30168 4.05261 6.63158 4.38251 6.63158 4.78945V37.2105C6.63158 37.6175 6.30168 37.9473 5.89474 37.9473H0.736842C0.329895 37.9473 0 37.6175 0 37.2105V4.78945Z' fill='#AAAAAA')
          path(d='M8.84211 4.78945C8.84211 4.38251 9.172 4.05261 9.57895 4.05261H14.7368C15.1438 4.05261 15.4737 4.38251 15.4737 4.78945V29.1052C15.4737 29.5122 15.1438 29.8421 14.7368 29.8421H9.57895C9.172 29.8421 8.84211 29.5122 8.84211 29.1052V4.78945Z' fill='#BBBBBB')
          path(d='M17.6842 4.78945C17.6842 4.38251 18.0141 4.05261 18.4211 4.05261H23.5789C23.9859 4.05261 24.3158 4.38251 24.3158 4.78945V37.2105C24.3158 37.6175 23.9859 37.9473 23.5789 37.9473H18.4211C18.0141 37.9473 17.6842 37.6175 17.6842 37.2105V4.78945Z' fill='#CCCCCC')
          path(d='M26.5263 4.78945C26.5263 4.38251 26.8562 4.05261 27.2632 4.05261H32.4211C32.828 4.05261 33.1579 4.38251 33.1579 4.78945V37.2105C33.1579 37.6175 32.828 37.9473 32.4211 37.9473H27.2632C26.8562 37.9473 26.5263 37.6175 26.5263 37.2105V4.78945Z' fill='#DDDDDD')
          path(d='M35.3684 4.78945C35.3684 4.38251 35.6983 4.05261 36.1053 4.05261H41.2632C41.6701 4.05261 42 4.38251 42 4.78945V12.1579C42 12.5648 41.6701 12.8947 41.2632 12.8947H36.1053C35.6983 12.8947 35.3684 12.5648 35.3684 12.1579V4.78945Z' fill='#EEEEEE')
          path(d='M35.3684 29.8421C35.3684 29.4351 35.6983 29.1052 36.1053 29.1052H41.2632C41.6701 29.1052 42 29.4351 42 29.8421V37.2105C42 37.6175 41.6701 37.9473 41.2632 37.9473H36.1053C35.6983 37.9473 35.3684 37.6175 35.3684 37.2105V29.8421Z' fill='#EEEEEE')

    nav.header__menu
      if current.source == 'index'
        button.header__link.js-scroll-to-talks More
        button.header__link.js-scroll-to-about About
        button.header__link.js-scroll-to-work Work
        button.header__link.js-scroll-to-hero Home
      if current.source != 'index'
        a.header__link(href="/#talks" aria-label="Link to More") More
        a.header__link(href="/#about" aria-label="Link to About") About
        a.header__link(href="/#work" aria-label="Link to Work") Work
        a.header__link(href="/" aria-label="Link to Home" class="#{ current.source == 'index' ? 'is-active' : '' }") Home

    //- .header__actions
    //-   nav.header__switcher
    //-     a.header__toggle(href="#contrast-on" aria-label="Dark")
    //-     a.header__toggle(href="#contrast-off" aria-label="Light")
    //-     span.header__button
